
@font-face {
    font-family: burger;
    src: url(./AlfaSlabOne-Regular.ttf);
}
html {
    height: 100%;
    font-family: arial;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    display: flex;
}


/* SECTION 1 (LEFT) */
.section1 {
    background-image: url(./bg.jpeg);
    height: 100%;
    width: 35%;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    height: 120px;
    position: absolute;
    width: 35%;
    top: 17%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
img {
    height: 90px;
}
.logo-text{
    font-size: min(5vw, 60px);
    position: relative;
    top: 15px;
    color: white;
    font-family: burger;
}
.author {
    color: white;
    text-align: center;
    top: 90vh;
    font-size: min(15px,3vh);
    position: relative;

}
.author span {
    text-decoration: underline;
}
a:visited {
    color: white;
}




/* SECTION 2 (RIGHT) */
.section2 {
    background-color: rgb(250, 250, 250);
    height: 100%;
    width: 65%;
    position: relative;
}
.top-section {
    height: calc(17% + 120px);
}
.form-section {
    background-color: white;
    height: 278px;
    box-shadow: 0 1px 4px 1px rgb(183, 181, 181);
}

.top-text {
    width: 50vw;
    position: relative;
    top: 10vh;
}
.top-text p, .form-section p {
    margin: 0;
    font-size: 21px;
    font-weight: 550;
    margin-left: 60px;
}
.form-section p {
    position: relative;
    top: 15px;
}
.form-controls {
    display: flex;
    column-gap: 100px;
    width: 50vw;
    position: relative;
    top: 35px;
    left: 60px;
}
.row1, .row2 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.formc {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
label {
    font-size: 13px;
    font-weight: bold;
}
input {
    appearance: none;
    height: 22px;
    width: 230px;
    font-size: 18px;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid #E5E7EB;
}
input:focus {
    outline: none;
    border-color: rgb(255, 191, 0);
    box-shadow: 0 1px 4px 1px rgb(183, 181, 181);
}
.bottom-section button {
    background-color: rgb(255, 191, 0);
    color: white;
    font-weight: bold;
    border-width: 0px;
    height: 45px;
    width: 180px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    left: 60px;
    box-shadow: 0 1px 4px 1px rgb(183, 181, 181);
    cursor: pointer;
}
.bottom-section button:hover {
    background-color: rgb(255, 157, 0);
}
.bottom-section button:active {
    background-color: white;
    color: rgb(255, 157, 0);
    border: 2px solid rgb(255, 157, 0);
}
.bottom-section p {
    position: relative;
    left: 60px;
}
.bottom-section span {
    font-weight: bold;
    color: rgb(255, 191, 0);
    cursor: pointer;
}
.create-acc {
    position: relative;
    top: 30px;
}